.navegacion{
    display: flex;
    font-size: medium;
    flex-direction: column;  
}

.navegacion{
    flex-direction: row;
    justify-content: space-around;
    background-color:cadetblue;   
}

.navegacion a{
    padding: 50px;
    background-color:cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color:brown;
}

.fondoimagen{
    background-image: url(fotofondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}


.fondoimagen h1{
    display: flex;
    text-align: center;
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    padding: 385px 50px;
    color:rgb(12, 12, 247);
    
}


.seccion_1 h2{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.camisetas img{
    width: 200px;
    height: 200px;
}



.seccion_2 h2{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 0;  
    margin-bottom: 0;  
}

.seccion_3 h2{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.camisetas_fila1{
    display: flex;
    flex-direction: row;
    gap: 235px;
    background-color: rgb(218, 218, 228);
    padding-left: 2rem;
}



.camisetas_fila2{
    display: flex;
    flex-direction: row;
    gap: 255px;
    background-color:rgb(218, 218, 228);
    padding-left: 2rem;
}


.camisetas img{
    border-radius: 12px;
    background-color:#FFFFFF;
}

.camisetas_fila1{
    padding-top: 15px;
}

.contenido p{
    font-size: large;
    text-align: center;
}

.calzado img{
    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}

.calzado_fila1{
    display: flex;
    flex-direction: row;
    gap: 270px;
    background-color: rgb(218, 218, 228);
    padding-top: 15px;
    padding-left: 2rem;

}

.calzado_fila2{
    display: flex;
    flex-direction: row;
    gap: 275px;
    background-color: rgb(218, 218, 228);

}

.complementos_fila1{
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding-top: 15px;
    background-color: rgb(218, 218, 228);
}

.complementos_fila2{
    display: flex;
    flex-direction: row;
    gap: 300px;
    background-color: rgb(218, 218, 228);
}

.complementos img{
    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
   border-radius: 19px;
   background-color: #FFFFFF;

}

.ultimaseccion{
    background-color:chocolate;
    
}

.ultimaseccion h2{
    text-align: center;
    padding-bottom: 6px;
}

.container_input{
    text-align: center;
    margin-bottom: 2.5rem;
    border-radius: 8px;
}

.boton{
    text-align: center;
    margin: auto;
    border-radius: 8px;
    font-size: 1rem;
    background-color: greenyellow;
    justify-content: center;
    cursor: pointer;
    width: 33%;
    height: 60%;
    padding: 10px 20px;

}

.boton:hover{
    color:white;
}

.inputs{
    text-align: center;
}

.container_input input{
    width: 25%;
    height: 30%;
    padding: 5px 10px;
}

footer{
    background-color: rgb(157, 149, 190);
    margin-top: 0%;
    margin-bottom: 0%;
}

footer h2{
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 200px;
    margin-top: 1rem;
}
 footer h5{
    text-align: center;
    padding-bottom: 1rem;
}

footer p{
    text-align: center;
    padding-bottom: 1rem;
}
   
.pago_fila1{
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.pago_fila2{
    display: flex;
    flex-direction: row;
    gap: 27px;   
}

.pagos{
    display: flex;
    justify-content: center;
    
}

.pagos img{
    width: 4rem;
}








